In [2]:
import requests
import holoviews as hv
import pandas as pd
import numpy as np
pd.options.plotting.backend = 'holoviews'
%matplotlib inline

In [3]:
rest_api_str_q1 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="01-01-2020"&end="03-31-2020"&granularity=86400'

In [4]:
rest_api_str_q2 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="04-01-2020"&end="06-30-2020"&granularity=86400'

In [5]:
rest_api_str_q3 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="07-01-2020"&end="09-30-2020"&granularity=86400'

In [6]:
rest_api_str_q4 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="10-01-2020"&end="12-31-2020"&granularity=86400'

In [7]:
response_1 = requests.get(rest_api_str_q1)

In [8]:
response_2 = requests.get(rest_api_str_q2)

In [9]:
response_3 = requests.get(rest_api_str_q3)

In [10]:
response_4 = requests.get(rest_api_str_q4)

In [11]:
btc_data_q1 = response_1.json()

In [12]:
btc_data_q2 = response_2.json()

In [13]:
btc_data_q3 = response_3.json()

In [14]:
btc_data_q4 = response_4.json()

In [15]:
(rest_api_str_q1)

'https://api.pro.coinbase.com/products/BTC-USD/candles?start="01-01-2020"&end="03-31-2020"&granularity=86400'

In [16]:
btc_df_q1 = pd.DataFrame(btc_data_q1)

In [17]:
btc_df_q2 = pd.DataFrame(btc_data_q2)

In [18]:
btc_df_q3 = pd.DataFrame(btc_data_q3)

In [19]:
btc_df_q4 = pd.DataFrame(btc_data_q4)

In [28]:
btc_df_q1.head()

            0        1        2        3        4             5
0  1585612800  6333.91  6524.79  6406.40  6424.35  11939.025331
1  1585526400  5853.00  6631.23  5878.98  6406.40  23659.802642
2  1585440000  5870.46  6279.96  6251.45  5877.21  16111.236378
3  1585353600  6030.00  6372.36  6372.36  6251.82  20353.874846
4  1585267200  6260.00  6880.00  6760.00  6372.36  20458.244021

In [38]:
btc_df_q1.columns = ["date", "low", "high", "open", "close", "volume"]

In [39]:
btc_df_q1.head()

         date      low     high     open    close        volume
0  1585612800  6333.91  6524.79  6406.40  6424.35  11939.025331
1  1585526400  5853.00  6631.23  5878.98  6406.40  23659.802642
2  1585440000  5870.46  6279.96  6251.45  5877.21  16111.236378
3  1585353600  6030.00  6372.36  6372.36  6251.82  20353.874846
4  1585267200  6260.00  6880.00  6760.00  6372.36  20458.244021

In [40]:
btc_df_q1.set_index("date")

                low     high     open    close        volume
date
1585612800  6333.91  6524.79  6406.40  6424.35  11939.025331
1585526400  5853.00  6631.23  5878.98  6406.40  23659.802642
1585440000  5870.46  6279.96  6251.45  5877.21  16111.236378
1585353600  6030.00  6372.36  6372.36  6251.82  20353.874846
1585267200  6260.00  6880.00  6760.00  6372.36  20458.244021
...             ...      ...      ...      ...           ...
1578182400  7312.22  7488.87  7348.63  7355.40   5942.014946
1578096000  7263.32  7398.00  7334.45  7348.63   4742.466210
1578009600  6854.67  7401.20  6945.02  7334.45  14056.392385
1577923200  6903.00  7186.18  7174.33  6945.02   8010.927387
1577836800  7136.05  7238.14  7165.72  7174.33   3350.630049

[91 rows x 5 columns]

In [ ]:
btc_df_q1["date"] = pd.to_datetime(btc_df_q1["date"], unit='s') # convert timestamp to date

In [ ]:
btc_df_q1 = btc_df_q1.iloc[:,[0, 4]]

In [52]:
btc_df_q1

         date    close
0  2020-03-31  6424.35
1  2020-03-30  6406.40
2  2020-03-29  5877.21
3  2020-03-28  6251.82
4  2020-03-27  6372.36
..        ...      ...
86 2020-01-05  7355.40
87 2020-01-04  7348.63
88 2020-01-03  7334.45
89 2020-01-02  6945.02
90 2020-01-01  7174.33

[91 rows x 2 columns]

In [54]:
btc_df_q2.columns = ["date", "low", "high", "open", "close", "volume"]

In [56]:
btc_df_q2.set_index("date")

                low     high     open    close        volume
date
1593475200  9059.60  9201.00  9188.79  9136.20   6820.867409
1593388800  9014.00  9236.75  9113.23  9184.45   8658.426725
1593302400  8931.77  9189.00  9002.38  9113.24   5537.757506
1593216000  8815.01  9188.14  9155.42  9002.46   8507.268410
1593129600  9027.62  9291.73  9242.98  9155.42  10702.373190
...             ...      ...      ...      ...           ...
1586044800  6681.00  6925.00  6874.77  6778.25   8962.910598
1585958400  6658.16  7025.53  6741.99  6874.77  10217.679078
1585872000  6606.06  7050.00  6804.24  6741.99  14953.179637
1585785600  6570.92  7292.11  6666.11  6804.52  28761.008041
1585699200  6160.00  6744.99  6424.02  6666.11  17900.250858

[91 rows x 5 columns]

In [58]:
btc_df_q2["date"] = pd.to_datetime(btc_df_q2["date"], unit='s') # convert timestamp to date

In [59]:
btc_df_q2 = btc_df_q2.iloc[:,[0, 4]]

In [61]:
btc_df_q3.columns = ["date", "low", "high", "open", "close", "volume"]

In [63]:
btc_df_q3.set_index("date")

                 low      high      open     close        volume
date
1601424000  10657.04  10847.00  10839.98  10779.63   6318.529438
1601337600  10636.13  10860.79  10694.90  10840.73   8200.782653
1601251200  10621.22  10956.11  10779.00  10695.55   8876.061568
1601164800  10595.24  10806.32  10730.00  10778.20   3880.036861
1601078400  10654.58  10828.00  10690.53  10730.00   3783.397400
...              ...       ...       ...       ...           ...
1593907200   8905.84   9145.00   9138.51   9074.39   4601.326459
1593820800   9039.84   9195.84   9059.73   9138.51   5300.788233
1593734400   9036.74   9126.12   9091.98   9063.87   7738.469721
1593648000   8938.00   9265.00   9239.41   9091.53  10774.185589
1593561600   9088.00   9297.20   9135.91   9239.97   7550.159997

[92 rows x 5 columns]

In [64]:
btc_df_q3["date"] = pd.to_datetime(btc_df_q3["date"], unit='s') # convert timestamp to date

In [65]:
btc_df_q3 = btc_df_q3.iloc[:,[0, 4]]

In [66]:
btc_df_q4.columns = ["date", "low", "high", "open", "close", "volume"]

In [67]:
btc_df_q4.set_index("date")

                 low      high      open     close        volume
date
1609372800  28000.00  29321.90  28897.42  28990.08  28813.886911
1609286400  27311.73  29018.26  27366.35  28897.42  28181.496815
1609200000  25833.73  27396.77  27039.39  27366.35  20668.104338
1609113600  26086.19  27477.00  26255.16  27040.36  21265.709350
1609027200  25772.55  28387.00  26482.64  26258.65  33627.007459
...              ...       ...       ...       ...           ...
1601856000  10621.12  10800.00  10670.01  10795.00   6081.387019
1601769600  10521.87  10697.00  10550.32  10671.11   3569.256202
1601683200  10498.02  10606.36  10573.12  10551.65   3211.704593
1601596800  10363.76  10668.56  10616.35  10573.12  10263.482903
1601510400  10427.75  10931.98  10779.63  10617.63  12848.736373

[92 rows x 5 columns]

In [68]:
btc_df_q4["date"] = pd.to_datetime(btc_df_q2["date"], unit='s') # convert timestamp to date

In [70]:
btc_df_q4 = btc_df_q4.iloc[:,[0, 4]]