In [207]:
import requests
import holoviews as hv
import pandas as pd
import numpy as np
pd.options.plotting.backend = 'holoviews'
%matplotlib inline

In [317]:
def get_multiple_crypto_data(crypto_one="BTC-USD", crypto_two="ETH-USD", date1 = '01-01-2020', date2 = '03-31-2020'):
    
    # Crypto one
    api_str = f'https://api.pro.coinbase.com/products/{crypto_one}/candles?start="{date1}"&end="{date2}"&granularity=86400'
    
    response = requests.get(api_str)
    
    df = pd.DataFrame(response.json())
    df = df.iloc[:,[0,4]]
    
    df.columns = ["date", "close"]
    df["date"] = pd.to_datetime(df["date"], unit='s')
    df.set_index("date", inplace=True)
    df = df.sort_index()
    
    # End Crypto one
    
    # Crypto two
    
    api_str = f'https://api.pro.coinbase.com/products/{crypto_one}/candles?start="{date1}"&end="{date2}"&granularity=86400'
    
    response = requests.get(api_str)
    
    df2 = pd.DataFrame(response.json())
    df2 = df2.iloc[:,[0,4]]
    
    df2.columns = ["date", "close"]
    df2["date"] = pd.to_datetime(df2["date"], unit='s')
    df2.set_index("date", inplace=True)
    df2 = df2.sort_index()
    
    df = pd.concat([df, df2], axis="columns", join="inner")
    
    return df

In [318]:
get_multiple_crypto_data()

              close    close
date
2020-01-01  7174.33  7174.33
2020-01-02  6945.02  6945.02
2020-01-03  7334.45  7334.45
2020-01-04  7348.63  7348.63
2020-01-05  7355.40  7355.40
...             ...      ...
2020-03-27  6372.36  6372.36
2020-03-28  6251.82  6251.82
2020-03-29  5877.21  5877.21
2020-03-30  6406.40  6406.40
2020-03-31  6424.35  6424.35

[91 rows x 2 columns]

In [319]:
get_multiple_crypto_data(date1="04/01/2020", date2="07/31/2020")

               close     close
date
2020-04-01   6666.11   6666.11
2020-04-02   6804.52   6804.52
2020-04-03   6741.99   6741.99
2020-04-04   6874.77   6874.77
2020-04-05   6778.25   6778.25
...              ...       ...
2020-07-27  11048.91  11048.91
2020-07-28  10934.23  10934.23
2020-07-29  11110.12  11110.12
2020-07-30  11115.95  11115.95
2020-07-31  11351.62  11351.62

[122 rows x 2 columns]

In [320]:
all_data = pd.concat(
    [
        get_multiple_crypto_data(),
        get_multiple_crypto_data(date1="04/01/2020", date2="06/30/2020"),
        get_multiple_crypto_data(date1="07/01/2020", date2="09/30/2020"),
        get_multiple_crypto_data(date1="10/01/2020", date2="012/31/2020")
    ], axis="rows")

               close     close
date
2020-01-01   7174.33   7174.33
2020-01-02   6945.02   6945.02
2020-01-03   7334.45   7334.45
2020-01-04   7348.63   7348.63
2020-01-05   7355.40   7355.40
...              ...       ...
2020-07-27  11048.91  11048.91
2020-07-28  10934.23  10934.23
2020-07-29  11110.12  11110.12
2020-07-30  11115.95  11115.95
2020-07-31  11351.62  11351.62

[213 rows x 2 columns]