In [55]:
import requests
import holoviews as hv
import pandas as pd
import numpy as np
pd.options.plotting.backend = 'holoviews'
%matplotlib inline

In [56]:
rest_api_str_q1 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="01-01-2020"&end="03-31-2020"&granularity=86400'

In [57]:
rest_api_str_q2 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="04-01-2020"&end="06-30-2020"&granularity=86400'

In [58]:
rest_api_str_q3 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="07-01-2020"&end="09-30-2020"&granularity=86400'

In [59]:
rest_api_str_q4 = 'https://api.pro.coinbase.com/products/BTC-USD/candles?start="10-01-2020"&end="12-31-2020"&granularity=86400'

In [66]:
response_1 = requests.get(rest_api_str_q1)

In [67]:
response_2 = requests.get(rest_api_str_q2)

In [68]:
response_3 = requests.get(rest_api_str_q3)

In [69]:
response_4 = requests.get(rest_api_str_q4)

In [70]:
btc_data_q1 = response_1.json()

In [71]:
btc_data_q2 = response_2.json()

In [72]:
btc_data_q3 = response_3.json()

In [73]:
btc_data_q4 = response_4.json()

In [83]:
(rest_api_str_q1)

In [76]:
btc_df_q1 = pd.DataFrame(btc_data_q1)

In [77]:
btc_df_q2 = pd.DataFrame(btc_data_q2)

In [78]:
btc_df_q3 = pd.DataFrame(btc_data_q3)

In [79]:
btc_df_q4 = pd.DataFrame(btc_data_q4)

In [81]:
btc_df_q1.set_index()

            0         1         2         3         4            5
0  1601424000  10657.04  10847.00  10839.98  10779.63  6318.529438
1  1601337600  10636.13  10860.79  10694.90  10840.73  8200.782653
2  1601251200  10621.22  10956.11  10779.00  10695.55  8876.061568
3  1601164800  10595.24  10806.32  10730.00  10778.20  3880.036861
4  1601078400  10654.58  10828.00  10690.53  10730.00  3783.397400