In [1]:
import requests
#import holoviews as hv
import pandas as pd
import numpy as np
from pathlib import Path
#pd.options.plotting.backend = 'holoviews'
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
def get_multiple_crypto_data(crypto_one="BTC-USD", crypto_two="ETH-USD", date1 = '01-01-2020', date2 = '03-31-2020'):
    
    # Crypto one
    api_str = f'https://api.pro.coinbase.com/products/{crypto_one}/candles?start="{date1}"&end="{date2}"&granularity=86400'
    
    response = requests.get(api_str)
    
    df = pd.DataFrame(response.json())
    df = df.iloc[:,[0,4]]
    
    df.columns = ["date", "close"]
    df["date"] = pd.to_datetime(df["date"], unit='s')
    df.set_index("date", inplace=True)
    df = df.sort_index()
    
    # End Crypto one
    
    # Crypto two
    
    api_str = f'https://api.pro.coinbase.com/products/{crypto_one}/candles?start="{date1}"&end="{date2}"&granularity=86400'
    
    response = requests.get(api_str)
    
    df2 = pd.DataFrame(response.json())
    df2 = df2.iloc[:,[0,4]]
    
    df2.columns = ["date", "close"]
    df2["date"] = pd.to_datetime(df2["date"], unit='s')
    df2.set_index("date", inplace=True)
    df2 = df2.sort_index()
    
    df = pd.concat([df, df2], axis="columns", join="inner")
    
    return df

In [3]:
get_multiple_crypto_data()

              close    close
date
2020-01-01  7174.33  7174.33
2020-01-02  6945.02  6945.02
2020-01-03  7334.45  7334.45
2020-01-04  7348.63  7348.63
2020-01-05  7355.40  7355.40
2020-01-06  7764.63  7764.63
2020-01-07  8158.52  8158.52
2020-01-08  8045.51  8045.51
2020-01-09  7813.78  7813.78
2020-01-10  8198.09  8198.09
2020-01-11  8020.00  8020.00
2020-01-12  8180.81  8180.81
2020-01-13  8104.50  8104.50
2020-01-14  8815.69  8815.69
2020-01-15  8808.81  8808.81
2020-01-16  8714.76  8714.76
2020-01-17  8899.42  8899.42
2020-01-18  8909.32  8909.32
2020-01-19  8697.53  8697.53
2020-01-20  8628.89  8628.89
2020-01-21  8722.03  8722.03
2020-01-22  8660.38  8660.38
2020-01-23  8385.22  8385.22
2020-01-24  8427.26  8427.26
2020-01-25  8326.81  8326.81
2020-01-26  8595.00  8595.00
2020-01-27  8895.96  8895.96
2020-01-28  9394.50  9394.50
2020-01-29  9288.44  9288.44
2020-01-30  9503.08  9503.08
...             ...      ...
2020-03-02  8915.00  8915.00
2020-03-03  8757.84  8757.84
2020-03-04  8760.66  8760.66
2020-03-05  9070.17  9070.17
2020-03-06  9158.51  9158.51
2020-03-07  8901.37  8901.37
2020-03-08  8037.76  8037.76
2020-03-09  7934.52  7934.52
2020-03-10  7894.68  7894.68
2020-03-11  7938.05  7938.05
2020-03-12  4857.10  4857.10
2020-03-13  5637.60  5637.60
2020-03-14  5165.25  5165.25
2020-03-15  5345.35  5345.35
2020-03-16  5037.61  5037.61
2020-03-17  5331.71  5331.71
2020-03-18  5413.64  5413.64
2020-03-19  6186.26  6186.26
2020-03-20  6206.10  6206.10
2020-03-21  6198.78  6198.78
2020-03-22  5818.25  5818.25
2020-03-23  6490.63  6490.63
2020-03-24  6766.64  6766.64
2020-03-25  6690.96  6690.96
2020-03-26  6758.18  6758.18
2020-03-27  6372.36  6372.36
2020-03-28  6251.82  6251.82
2020-03-29  5877.21  5877.21
2020-03-30  6406.40  6406.40
2020-03-31  6424.35  6424.35

[91 rows x 2 columns]

In [4]:
get_multiple_crypto_data(date1="04/01/2020", date2="07/31/2020")

               close     close
date
2020-04-01   6666.11   6666.11
2020-04-02   6804.52   6804.52
2020-04-03   6741.99   6741.99
2020-04-04   6874.77   6874.77
2020-04-05   6778.25   6778.25
2020-04-06   7341.56   7341.56
2020-04-07   7200.01   7200.01
2020-04-08   7370.11   7370.11
2020-04-09   7293.24   7293.24
2020-04-10   6871.91   6871.91
2020-04-11   6889.65   6889.65
2020-04-12   6908.13   6908.13
2020-04-13   6861.21   6861.21
2020-04-14   6877.37   6877.37
2020-04-15   6624.12   6624.12
2020-04-16   7112.64   7112.64
2020-04-17   7037.46   7037.46
2020-04-18   7261.76   7261.76
2020-04-19   7130.71   7130.71
2020-04-20   6838.19   6838.19
2020-04-21   6853.68   6853.68
2020-04-22   7136.84   7136.84
2020-04-23   7488.83   7488.83
2020-04-24   7514.64   7514.64
2020-04-25   7547.61   7547.61
2020-04-26   7706.40   7706.40
2020-04-27   7789.77   7789.77
2020-04-28   7755.01   7755.01
2020-04-29   8793.75   8793.75
2020-04-30   8624.28   8624.28
...              ...       ...
2020-07-02   9091.53   9091.53
2020-07-03   9063.87   9063.87
2020-07-04   9138.51   9138.51
2020-07-05   9074.39   9074.39
2020-07-06   9343.31   9343.31
2020-07-07   9253.94   9253.94
2020-07-08   9435.28   9435.28
2020-07-09   9236.95   9236.95
2020-07-10   9291.05   9291.05
2020-07-11   9235.00   9235.00
2020-07-12   9303.37   9303.37
2020-07-13   9236.92   9236.92
2020-07-14   9256.94   9256.94
2020-07-15   9190.16   9190.16
2020-07-16   9130.11   9130.11
2020-07-17   9154.29   9154.29
2020-07-18   9175.85   9175.85
2020-07-19   9212.87   9212.87
2020-07-20   9161.05   9161.05
2020-07-21   9394.14   9394.14
2020-07-22   9536.18   9536.18
2020-07-23   9613.24   9613.24
2020-07-24   9551.21   9551.21
2020-07-25   9711.33   9711.33
2020-07-26   9941.00   9941.00
2020-07-27  11048.91  11048.91
2020-07-28  10934.23  10934.23
2020-07-29  11110.12  11110.12
2020-07-30  11115.95  11115.95
2020-07-31  11351.62  11351.62

[122 rows x 2 columns]

In [5]:
all_data = pd.concat(
    [
        get_multiple_crypto_data(),
        get_multiple_crypto_data(date1="04/01/2020", date2="06/30/2020"),
        get_multiple_crypto_data(date1="07/01/2020", date2="09/30/2020"),
        get_multiple_crypto_data(date1="10/01/2020", date2="012/31/2020")
    ], axis="rows")

In [6]:
gov_spending20_csv = Path("Gov_Spending.csv")
gov_spending20 = pd.read_csv(gov_spending20_csv)
gov_spending20.head()

,Record Date,Parent ID,Classification ID,Classification Description,Current Month Gross Receipts Amount,Current Month Gross Outlay Amount,Current Month Deficit Surplus Amount
0,12/31/20,NaN,44802184.0,FY 2020,null,null,null
1,12/31/20,44802184.0,44802187.0,October,"$245,520,982,120.90","$379,988,361,130.71","$134,467,379,009.81"
2,12/31/20,44802184.0,44802189.0,November,"$225,185,415,497.28","$434,023,709,954.02","$208,838,294,456.74"
3,12/31/20,44802184.0,44802191.0,December,"$335,805,401,484.89","$349,091,277,973.68","$13,285,876,488.79"
4,12/31/20,44802184.0,44802193.0,January,"$372,287,913,768.70","$404,882,870,789.11","$32,594,957,020.41"

In [7]:
#gov_spending20 = gov_spending20.drop(labels=[0,13])

In [8]:
gov_spending20.head()

,Record Date,Parent ID,Classification ID,Classification Description,Current Month Gross Receipts Amount,Current Month Gross Outlay Amount,Current Month Deficit Surplus Amount
0,12/31/20,NaN,44802184.0,FY 2020,null,null,null
1,12/31/20,44802184.0,44802187.0,October,"$245,520,982,120.90","$379,988,361,130.71","$134,467,379,009.81"
2,12/31/20,44802184.0,44802189.0,November,"$225,185,415,497.28","$434,023,709,954.02","$208,838,294,456.74"
3,12/31/20,44802184.0,44802191.0,December,"$335,805,401,484.89","$349,091,277,973.68","$13,285,876,488.79"
4,12/31/20,44802184.0,44802193.0,January,"$372,287,913,768.70","$404,882,870,789.11","$32,594,957,020.41"

In [9]:
gov_spending20 = gov_spending20.iloc[:, [3, 5] ]

In [10]:
gov_spending20.dropna(inplace=True)

In [11]:
gov_spending20.iloc[1:13]

   Classification Description  Current Month Gross Outlay Amount
1                     October                $379,988,361,130.71
2                    November                $434,023,709,954.02
3                    December                $349,091,277,973.68
4                     January                $404,882,870,789.11
5                    February                $423,228,905,223.49
6                       March                $355,754,063,237.51
7                       April                $979,885,188,729.59
8                         May                $572,614,424,728.25
9                        June              $1,104,902,736,844.42
10                       July                $626,487,389,535.23
11                     August                $423,233,421,276.19
12                  September                $497,779,900,786.44

In [12]:
gov_spending20 = gov_spending20.replace('\$','',regex=True)

In [13]:
gov_spending20 = gov_spending20.replace('\,','',regex=True)

In [14]:
gov_spending20.head()

  Classification Description  Current Month Gross Outlay Amount
0                    FY 2020                               null
1                    October                    379988361130.71
2                   November                    434023709954.02
3                   December                    349091277973.68
4                    January                    404882870789.11

In [15]:
gov_spending20 = gov_spending20.iloc[1:13]

In [16]:
gov_spending20[' Current Month Gross Outlay Amount '
].astype(float)

1     3.799884e+11
2     4.340237e+11
3     3.490913e+11
4     4.048829e+11
5     4.232289e+11
6     3.557541e+11
7     9.798852e+11
8     5.726144e+11
9     1.104903e+12
10    6.264874e+11
11    4.232334e+11
12    4.977799e+11
Name:  Current Month Gross Outlay Amount , dtype: float64

In [17]:
gov_spending20.head()

  Classification Description  Current Month Gross Outlay Amount
1                    October                    379988361130.71
2                   November                    434023709954.02
3                   December                    349091277973.68
4                    January                    404882870789.11
5                   February                    423228905223.49

In [18]:
gov_spending20.columns = ["Date", "Gov_expense20"]

In [19]:
gov_spending20.set_index('Date')

                Gov_expense20
Date
October      379988361130.71
November     434023709954.02
December     349091277973.68
January      404882870789.11
February     423228905223.49
March        355754063237.51
April        979885188729.59
May          572614424728.25
June        1104902736844.42
July         626487389535.23
August       423233421276.19
September    497779900786.44

In [20]:
date20 = {3:"2020-01-31", 4:"2020-02-28", 5:"2020-03-30", 6:"2020-04-31", 7:"2020-05-30", 8:"2020-06-30", 9:"2020-07-31", 10:"2020-08-30", 
          11:"2020-09-30", 0:"2020-10-31", 1:"2020-11-30", 2:"2020-12-31"}

In [21]:
new_gov = gov_spending20.reset_index().rename(index=date20)
new_gov.index.names = ["Date"]

In [22]:
new_gov

            index       Date       Gov_expense20
Date
2020-10-31      1    October    379988361130.71
2020-11-30      2   November    434023709954.02
2020-12-31      3   December    349091277973.68
2020-01-31      4    January    404882870789.11
2020-02-28      5   February    423228905223.49
2020-03-30      6      March    355754063237.51
2020-04-31      7      April    979885188729.59
2020-05-30      8        May    572614424728.25
2020-06-30      9       June   1104902736844.42
2020-07-31     10       July    626487389535.23
2020-08-30     11     August    423233421276.19
2020-09-30     12  September    497779900786.44

In [ ]:
hello world